.tahoma{
    font-family: Tahoma;
    font-weight: bold;

}
.second{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    width: 400px;
    line-height: 35px;
}
.sales{
    font-style: italic;
    color: red;
    font-size: 20px;
}