.music{
    background-color: black;
    display: inline-block;
}
.title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-left: 10px;
    margin-bottom: 0;
    font-weight: bold;
}
.text{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 380px;
}